cccl=2.5.0
cuda-cccl=12.6.37
cuda-cccl_win-64=12.6.37
cuda-cudart=12.4.127
cuda-cudart-dev=12.4.127
cuda-cupti=12.4.127
cuda-libraries=12.4.0
cuda-libraries-dev=12.4.0
cuda-nvrtc=12.4.127
cuda-nvrtc-dev=12.4.127
cuda-nvtx=12.4.127
cuda-opencl=12.6.68
cuda-opencl-dev=12.6.68
cuda-profiler-api=12.6.68
cuda-runtime=12.4.0
cuda-version=12.6
python-mss
numpy=1.26.4
opencv=4.10.0
pandas=2.2.2
pygetwindow=0.0.9
pytorch=2.4.1=py3.12_cuda12.4_cudnn9_0
pytorch-cuda=12.4=h3fd98bf_6
pytorch-mutex=1.0=cuda
torchaudio=2.4.1
torchvision=0.19.1
ultralytics=8.2.91